body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family определяет приоритетный список из одного или нескольких названий семейства шрифтов и/или общее имя шрифта для выбранного элемента. */
}

h1 {
    color: #666;
}
h1 {
    color: green;
    font-weight: normal;
    /* font-weight устанавливает начертание шрифта. Некоторые шрифты доступны только в нормальном или полужирном начертании. */
    font-style: italic;
    /* font-style это CSS-свойство определяющее каким образом шрифт должен быть стилизирован, будь то это normal, italic, или oblique face из его font-family */
} 

p{
    font-size: 16px;
    /* font-size определяет размер шрифта. Это свойство также используется для вычисления размера em, ex и других относительных единиц. Подробнее: <length>. */
}

.span-green-bg {
    /* Тег <span> предназначен для определения строчных элементов документа. В отличие от блочных элементов, таких как <table>, <p> или <div>, с помощью тега <span> можно выделить часть информации внутри других тегов и установить для нее свой стиль */
    background: green;
    color: yellow;
}

.span-red-bg {
    background: red;
    color: #fff;
    text-transform: uppercase;
    /* Управляет преобразованием текста элемента в заглавные или прописные символы. Когда значение отлично от none, регистр исходного текста будет изменен. */
}

span {
    font-size: 18px;
}

span {
    /* text-transform: uppercase; */
}