h5, div, p, span{
    background-color: orange;
    /* padding: 10px; */
    /* margin: 10px; */
    height: 40px;
    /* height позволят обозначать высоту элемента. */
    width: 300px;
    /* width устанавливает ширину элемента. */
    display: inline-block;
    /* Свойство display определяет тип отображения (display type) элемента, имеющий два основных свойства, определяющих генерацию боксов — внешний тип отображения определяет расположение бокса в схеме потока (flow layout) и внутренний тип отображения определяет расположение дочерних элементов бокса */
}